wp/*
!wp/wp-content/

wp/wp-content/mu-plugins/*
!wp/wp-content/mu-plugins/autoloader.php
wp/wp-content/uploads/*
wp/wp-content/themes/*
!wp/wp-content/themes/rebel-theme
!wp/wp-content/themes/index.php
wp/wp-content/plugins/*
!wp/wp-content/plugins/index.php

/database
/vendor
